/* header */
.header {
  height: 100vh;

  /* background: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url('../img/header-1.jpeg') center no-repeat;
	background-size: cover;  */
  position: relative;
}

.banner-image-wrapper:before {
  content: '';
  height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
  z-index: -1;
}

.banner-image {
  position: relative;
  z-index: -2;
}

.brand {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.brand-image {
  width: 8rem;
  height: 8rem;
  transition: 1.5s;
}

.hotel-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  color: #deaa86;
  letter-spacing: 0.2rem;
  margin: 0;
  transition: 1.5s;
  /* position: absolute; */
}

.banner {
  /* position: relative; */
  color: #ddd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.banner-heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7rem;
  font-weight: 400;
  color: #deaa86;
  letter-spacing: 0.2rem;
  margin: 0;
  animation: anim 2s;
  transition: 1.5s;
}

.banner-paragraph {
  font-size: 3.5rem;
  font-weight: 300;
  margin: 0;
  animation: anim 1.5s 0.5s backwards;
  transition: all 1.5s;
}

.banner-button {
  width: 21rem;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  color: #333;
  letter-spacing: 0.1rem;
  margin: 3rem;
  border: none;
  border-radius: 10rem;
  /* background:linear-gradient(to right,gold,goldenrod); */
  background: linear-gradient(
      90deg,
      var(--c1, #f6d365),
      var(--c2, #fda085) 51%,
      var(--c1, #f6d365)
    )
    var(--x, 0) / 200%;
  outline: none;
  cursor: pointer;
  animation: anim 1s 1s backwards;
  transition: 1.5s;
}

.banner-button:hover {
  /* background:linear-gradient(to left,gold,goldenrod); */
  --x: 100%;
}

.checkout-btn {
  --c1: #f6d365;
  --c2: #fda085;
}

.banner-button:active {
  transform: translatey(0.2rem);
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .banner-heading {
    font-size: 4.7rem;
  }

  .banner-paragraph {
    font-size: 2.6rem;
  }

  .banner-button {
    width: 16rem;
    font-size: 1.5rem;
  }
}

@media (max-height: 500px) {
  .brand-image {
    width: 5rem;
    height: 5rem;
  }

  .hotel-heading {
    font-size: 2rem;
  }

  .banner-heading {
    font-size: 4.7rem;
  }

  .banner-paragraph {
    font-size: 2.6rem;
  }

  .banner-button {
    width: 16rem;
    font-size: 1.5rem;
  }
}
