html {
  font-size: 62.5%; /* change font size 10/16 from default (16px) */
  box-sizing: border-box;
  caret-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin-left: 7rem;
  display: flex;
  flex-direction: column;
}
