.sidebar {
  width: 7rem;
  height: 100%;
  background-color: #eee;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.menuicon {
  /* width: 2rem;
  height: 2rem;
  background-color: #222; -*/
  margin-top: 3rem;
  cursor: pointer;
}

.line {
  height: 0.2rem;
  width: 2.5rem;
  background-color: #222;
  margin-bottom: 0.6rem;
}

.line1,
.line3 {
  width: 1.8rem;
  transition: all 0.3s;
}

.line-1-open {
  transform: rotate(-405deg) translate(-12.5px, 6px);
}

.line-2-open {
  opacity: 0;
}

.line-3-open {
  transform: rotate(405deg) translate(-12.5px, -6px);
}

.menuicon:hover .line {
  width: 2.5rem;
}

.socialIconsList {
  list-style: none;
  padding: 0;
  display: flex;
  height: 15rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.socialLink {
  font-size: 1.5rem;
  color: #777;
  transition: font-size 0.2s;
}

.socialLink:hover {
  font-size: 3rem;
  color: salmon;
}

.year {
  margin-bottom: 1rem;
  font-size: 1.5;
  color: #555;
}
